{
  "printWidth": 100,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
